parameters:
    locale: '%env(DEFAULT_LOCAL)%'
    storage_path: '%kernel.project_dir%/var/assets'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    EMS\CommonBundle\Storage\Adapter\FileAdapter:
        arguments: ['%env(STORAGE_PATH)%']
        tags: [ems_common.storage.adapter]
